@import "../../../variables.scss";
 .product-price {
  text-align: center;
  font-weight: 400;
  margin-top: 2em;
}
.product-price--line {
  text-decoration: line-through;
}
.product-price--accent {
  color: $text-accent-color;
}
