@import "../../../mixins.scss";
@import "../../../variables.scss";
.configurator {
  background: $box-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 2.75em 0;
}
.configurator__title {
  font-size: 1.875em;
  margin-bottom: 2em;
}

.configurator__product-information {
  padding-right: 6.5em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid $border-color;
}
.configurator__product-image {
  margin-bottom: 1em;
}
.configurator__product-description {
  color: $text-accent-color;
  font-size: 0.9em;
}
.configurator__separator-line {
  background: $border-color;
  height: 1px;
  width: 100%;
  margin: 0.5em 0;
}
.configurator__inner {
  display: flex;
}
.configurator__product-features {
  margin: 0.5em 0;
  li {
    list-style: none;
    position: relative;
    padding-left: calc(10px + 0.815em);
    &:not(:last-child) {
      margin-bottom: 0.25em;
    }

    &::before {
      content: "";
      width: 10px;
      height: 8px;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
      background: url("~/public/assets/icons/checkmark.svg") no-repeat;
      background-size: contain;
    }
  }
}
.configurator__controls {
  padding: 0.71em 0 0.71em 3em;
}
.configurator__button-title {
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.25em;
  margin-bottom: 0.5em;
}
.configurator__buttons-row {
  display: flex;
}

.configurator__button-image {
  margin: 1.5em auto;
  width: 5em;
}
.configurator__pant-icon {
  width: 25px;
  height: 24px;
  background-image: url("~/public/assets/icons/pant.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1em;
}
.configurator__diaper-icon {
  width: 30px;
  height: 20px;
  background-image: url("~/public/assets/icons/diaper.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1em;
}
.configurator__price {
  text-align: center;
  font-weight: 400;
  margin-top: 2em;
}
.configurator__price--line {
  text-decoration: line-through;
}
.configurator__price--accent {
  color: $text-accent-color;
}
.configurator__button-row{
    display: flex;
    justify-content: center;
}
.configurator__button {
  border-radius: 20px;
  border: 2px $border-active-color solid;
  font-weight: 500;
  background-color: $bg-color;
  cursor: pointer;
  color: $text-color;
  margin: 0 auto;
  width: 22.5em;
  padding: 0.75em 0;
  margin-top: 1.6em;
  transition: all ease-in-out 500ms;
  &:hover{
  color: $bg-color;
  background-color: $text-color;

  }
}
