@import "../../../mixins.scss";
@import "../../../variables.scss";
.configurator {
  background: $box-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 2.75em 0;
}
.configurator__title {
  font-size: 1.875em;
  margin-bottom: 2em;
}

.configurator__product-information {
  padding-right: 6.5em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid $border-color;
}

.configurator__product-description {
  color: $text-accent-color;
  font-size: 0.9em;
}
.configurator__separator-line {
  background: $border-color;
  height: 1px;
  width: 100%;
  margin: 0.5em 0;
}
.configurator__inner {
  display: flex;
}

.configurator__controls {
  padding: 0.71em 0 0.71em 3em;
}
.configurator__button-title {
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.25em;
  margin-bottom: 0.5em;
}




.configurator__button-row{
    display: flex;
    justify-content: center;
}
.configurator__button {
  border-radius: 20px;
  border: 2px $border-active-color solid;
  font-weight: 500;
  background-color: $bg-color;
  cursor: pointer;
  color: $text-color;
  margin: 0 auto;
  width: 22.5em;
  padding: 0.75em 0;
  margin-top: 1.6em;
  transition: all ease-in-out 500ms;
  &:hover{
  color: $bg-color;
  background-color: $text-color;

  }
}
