// Variables
$primary-color:#00AFAB;
$text-color: #000000;
$text-accent-color:#7A7A7A;
$box-bg-color:#F8F8F8;
$header-bg-color:#353535;
$header-text-color:#FFFFFF;
$header-accent-color:#9B9B9B;
$border-color:#979797;
