// Variables
$primary-color: #00afab;
$text-color: #000000;
$text-accent-color: #7a7a7a;
$box-bg-color: #f8f8f8;
$bg-color: #ffffff;
$header-bg-color: #353535;
$header-text-color: #ffffff;
$header-accent-color: #9b9b9b;
$border-color: #979797;
$border-active-color: #000000;

$br-2xl: 2560px;
$br-xl: 1440px;
$br-l: 1024px;
$br-m: 768px;
$br-s: 425px;
$br-xs: 375px;
$br-2xs: 320px;
